
.intro {
    width: 100%;
    height: 50vh;
    background-color: rgb(103, 125, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    direction : ltr;
}

.details {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}

    .details p {
        font-size: 18px;
        color: white;
        font-weight: 500;
    }

.intro img {
    width: 300px;
}

.reserve-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.details button {
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    background-color: #007bff;
    color: white;
    border: none;
    width: 160px;
    padding: 10px;
    margin: 15px;
}

.category-group {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 140px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 20px;
}

    .category h3 {
        padding-bottom: 10px;
    }
