.Login{
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.box {
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 100px;
    direction: rtl;
}

    .box h2 {
        text-align: center;
        margin-bottom: 20px;
    }

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 8px;
    background: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background: #1b6fd1;
    }

.message-box {
    margin-top: 12px;
    font-size: 14px;
    color: #dc2626;
    text-align: center;
}
